/* JavaFX CSS
/**
 * This area is for general styling across all project
 */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.label {
	-fx-text-fill:white;
}
.button {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 50%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 100%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
}
.button:active {
	-fx-background-color: white;
        /*linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);*/
}
.combo-box {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    	linear-gradient(#020b02, #3a3a3a),
    	linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    	linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    	linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-background-insets: 0,1,4,5,6;
	-fx-background-radius: 9,8,5,4,3;
	-fx-text-fill:white;
}

.list-cell:even { 
    -fx-background-color: 
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
}
.list-cell:odd { 
    -fx-background-color: 
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
}

.list-cell:filled:hover {
    -fx-background-color: #aaaaaa;
}

.text-field {
	-fx-background-color: 
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

/*
 * this pane id is set manually in controlledScreen.java file 
 * when every screens comes up so we can have an id of all panes to be editable in css file 
 */
#pane{
    -fx-background-image: url("/resources/Abstract-Dark-Background.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1024 768;
    -fx-background-position: top left;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

/* ############# END OF GENERAL STYLING ###################### */

/**
 * this area is for Teachers Main Page styling 
 */
#myInfo {
	-fx-background-color:white;
}
#blackLabel {
	-fx-text-fill:black;
}